
/*resource categories */

#sbrd_wrapper ul.sbrd_categories {
    float:left;
    padding:0 ;
    margin:0;
    width:50%;
    list-style: none
}

#sbrd_wrapper ul.sbrd_categories li {
    background:#C2D4E0;
    padding:5px;
    margin:6px
}

li.sb_rd_category_hilite
{
    background:#C2D4E0;
    width:635px     /*set this in pixels to span total width of area if you want to override width:50% in UL rule*/
}

li.sb_rd_category_hilite a {
    font-weight:bold
}

/*resource items */
#sbrd_wrapper ul.sbrd_items_list{
    list-style: none;
    padding:0;
    margin-left:0 
}

ul.sbrd_items_list li{
    line-height:1.2em;
    margin-bottom:10px;
    padding-bottom: 4px;
    border-bottom:1px solid #d9d9d9;
}

ul.sbrd_items_list a{
   font-size:.80em;
   color: #1c3765;   
}

.sbrd_ritem_name {
    font-weight:bold;
    color:#377365;
}

.sbrd_search_link{
    margin-bottom:20px
}

